/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

body {
  background-color: #AC8D4A
}

img.centered_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 6px 3px black;
}

div.main_menu {
  margin-left: auto;
  margin-right: auto;
  width: 30%
}

div.main_menu a {
  color: #503B0E;
}

div.center {
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  padding: 10px;
  box-shadow: 6px 6px 3px #0A0A0A;
  background-color: #EDDDBC;
  border: 2px solid black
}

div.no_border {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 5px;
}

table.subtable {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 5px;
  border-bottom: 1px solid black
}

textarea {
  height: 4em;
  width: 40%;
  padding: 3px
}